/*! CSS Used from: https://kanakku.dreamguystech.com/template-html/assets/css/bootstrap.min.css */
*,::after,::before{box-sizing:border-box;}
p{margin-top:0;margin-bottom:1rem;}
ul{margin-top:0;margin-bottom:1rem;}
ul ul{margin-bottom:0;}
a{color:#007bff;text-decoration:none;background-color:transparent;}
a:hover{color:#0056b3;text-decoration:underline;}
img{vertical-align:middle;border-style:none;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button,input{overflow:visible;}
button{text-transform:none;}
[type=button],button{-webkit-appearance:button;}
[type=button]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none;}
.list-unstyled{padding-left:0;list-style:none;}
.container-fluid{width:25%;padding-right:15px;padding-left:15px}
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-sm-12{padding-right:15px;padding-left:15px;}
@media (min-width:576px){
    .col-sm-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
}
.form-control{display:block;width:100%;height:calc(1.5em + .75rem + 2px);padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
    .form-control{transition:none;}
}
.form-control::-ms-expand{background-color:transparent;border:0;}
.form-control:-moz-focusring{color:transparent;text-shadow:0 0 0 #495057;}
.form-control:focus{color:#495057;background-color:#fff;border-color:#80bdff;outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25);}
.form-control::-webkit-input-placeholder{color:#6c757d;opacity:1;}
.form-control::-moz-placeholder{color:#6c757d;opacity:1;}
.form-control:-ms-input-placeholder{color:#6c757d;opacity:1;}
.form-control::-ms-input-placeholder{color:#6c757d;opacity:1;}
.form-control::placeholder{color:#6c757d;opacity:1;}
.form-control:disabled{background-color:#e9ecef;opacity:1;}
.btn{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
    .btn{transition:none;}
}
.btn:hover{color:#212529;text-decoration:none;}
.btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25);}
.btn:disabled{opacity:.65;}
.dropdown{position:relative;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:10rem;padding:.5rem 0;margin:.125rem 0 0;font-size:1rem;color:#212529;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.15);border-radius:.25rem;}
.dropdown-menu-right{right:0;left:auto;}
.dropdown-item{display:block;width:100%;padding:.25rem 1.5rem;clear:both;font-weight:400;color:#212529;text-align:inherit;white-space:nowrap;background-color:transparent;border:0;}
.dropdown-item:focus,.dropdown-item:hover{color:#16181b;text-decoration:none;background-color:#f8f9fa;}
.dropdown-item:active{color:#fff;text-decoration:none;background-color:#007bff;}
.dropdown-item:disabled{color:#6c757d;pointer-events:none;background-color:transparent;}
.input-group{position:relative;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:stretch;align-items:stretch;width:100%;}
.input-group>.form-control{position:relative;-ms-flex:1 1 auto;flex:1 1 auto;width:1%;min-width:0;margin-bottom:0;}
.input-group>.form-control:focus{z-index:3;}
.input-group>.form-control:not(:last-child){border-top-right-radius:0;border-bottom-right-radius:0;}
.input-group>.form-control:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0;}
.input-group-append,.input-group-prepend{display:-ms-flexbox;display:flex;}
.input-group-append .btn,.input-group-prepend .btn{position:relative;z-index:2;}
.input-group-append .btn:focus,.input-group-prepend .btn:focus{z-index:3;}
.input-group-prepend{margin-right:-1px;}
.input-group-append{margin-left:-1px;}
.input-group>.input-group-prepend>.btn{border-top-right-radius:0;border-bottom-right-radius:0;}
.input-group>.input-group-append>.btn{border-top-left-radius:0;border-bottom-left-radius:0;}
.badge{display:inline-block;padding:.25em .4em;font-size:75%;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
    .badge{transition:none;}
}
.badge:empty{display:none;}
.badge-pill{padding-right:.6em;padding-left:.6em;border-radius:10rem;}
.badge-success{color:#fff;background-color:#28a745;}
.media{display:-ms-flexbox;display:flex;-ms-flex-align:start;align-items:flex-start; background-color: black;}
.media-body{-ms-flex:1;flex:1;}
.rounded-circle{border-radius:50%!important;}
@media print{
    *,::after,::before{text-shadow:none!important;box-shadow:none!important;}
    a:not(.btn){text-decoration:underline;}
    img{page-break-inside:avoid;}
    p{orphans:3;widows:3;}
    .badge{border:1px solid #000;}
}
/*! CSS Used from: https://kanakku.dreamguystech.com/template-html/assets/plugins/fontawesome/css/fontawesome.min.css */
.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;}
.fa-download:before{content:"\f019";}
.fa-paper-plane:before{content:"\f1d8";}
.fa-paperclip:before{content:"\f0c6";}
.fa-search:before{content:"\f002";}
/*! CSS Used from: https://kanakku.dreamguystech.com/template-html/assets/plugins/fontawesome/css/all.min.css */
.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;}
.fa-download:before{content:"\f019";}
.fa-paper-plane:before{content:"\f1d8";}
.fa-paperclip:before{content:"\f0c6";}
.fa-search:before{content:"\f002";}
.fas{font-family:"Font Awesome 5 Free";}
.fas{font-weight:900;}
/*! CSS Used from: https://kanakku.dreamguystech.com/template-html/assets/css/style.css */
a:hover,a:active,a:focus{outline:none;text-decoration:none;}
.form-control{border:1px solid #dee2e6;box-shadow:none;color:#333;padding:.54688rem .875rem;font-size:.875rem;height:calc(1.6em + 1.21875rem);line-height:1.6;font-weight:400;color:#1e2022;}
.form-control:focus{box-shadow:0 0 10px rgba(136, 136, 136, 0.125);outline:0 none;border-color:#c1c9d0;}
a{color:#377dff;}
a:hover{color:#0052ea;text-decoration:none;}
p{margin-top:0;margin-bottom:1rem;}
ul{margin-top:0;margin-bottom:0;}
input,button,a{transition:all 0.4s ease;-moz-transition:all 0.4s ease;-o-transition:all 0.4s ease;-transition:all 0.4s ease;-webkit-transition:all 0.4s ease;}
input,input:focus,button,button:focus{outline:none;}
input[type="file"]{height:auto;min-height:calc(1.5em + .75rem + 2px);}
input[type=text]{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.input-group .form-control{height:40px;}
.material-icons{font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;display:inline-block;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga';}
ul li{list-style:none;}
.block{display:block!important;}
.btn:focus{box-shadow:unset;}
.badge-success{background-color:#22cc62!important;}
.dropdown-menu{border:1px solid #eff2f7;border-radius:.8rem;transform-origin:left top 0;background-color:#fff;box-shadow:0 0 1.25rem rgba(31,45,61,.08);}
.dropdown-menu{font-size:14px;}
.avatar{position:relative;display:inline-block;width:3rem;height:3rem;}
.avatar > img{width:100%;height:100%;-o-object-fit:cover;object-fit:cover;}
.avatar-away:before,.avatar-offline:before,.avatar-online:before{position:absolute;right:0;bottom:0;width:25%;height:25%;border-radius:50%;content:'';border:2px solid #fff;}
.avatar-online:before{background-color:#22cc62;}
.avatar-offline:before{background-color:#ef3737;}
.avatar-away:before{background-color:#ffbc34;}
.chat-window{position:relative;margin-bottom:1.875rem;box-shadow:0 0 13px 0 rgba(82,63,105,0.05);border-radius:20px;overflow:hidden;}
.chat-window .chat-cont-left{border-right:1px solid #e5e5e5;flex:0 0 35%;left:0;position:relative;z-index:4;}
.chat-window .chat-cont-left .chat-header{background-color: black;color: white;align-items:center;border-bottom:1px solid #e5e5e5;display:flex;height:72px;justify-content:space-between;padding:0 15px;}
.chat-window .chat-cont-left .chat-header span{font-size:20px;font-weight:600;text-transform:capitalize;}
.chat-window .chat-cont-left .chat-header .chat-compose{color:#8a8a8a;display:inline-flex;}
.chat-window .chat-cont-left .chat-search{background-color:black;border-bottom:1px solid #e5e5e5;padding:10px 15px;width:100%;}
.chat-window .chat-cont-left .chat-search .input-group{width:100%;}
.chat-window .chat-cont-left .chat-search .input-group .form-control{background-color:#fff;border-radius:50px;padding-left:36px;}
.chat-window .chat-cont-left .chat-search .input-group .form-control:focus{border-color:#ccc;box-shadow:none;}
.chat-window .chat-cont-left .chat-search .input-group .input-group-prepend{align-items:center;bottom:0;color:#666;display:flex;left:15px;pointer-events:none;position:absolute;top:0;z-index:4;}
.chat-window .chat-scroll{max-height:calc(100vh - 255px);overflow-y:auto;}
.chat-window .chat-cont-left .chat-users-list{background-color:#fff;}
.chat-window .chat-cont-left .chat-users-list a.media{border-bottom:1px solid #e5e5e5;padding:10px 15px;transition:all 0.2s ease 0s;}
.chat-window .chat-cont-left .chat-users-list a.media:last-child{border-bottom:0;}
.chat-window .chat-cont-left .chat-users-list a.media .media-img-wrap{margin-right:15px;position:relative;}
.chat-window .chat-cont-left .chat-users-list a.media .media-img-wrap .avatar{height:45px;width:45px;}
.chat-window .chat-cont-left .chat-users-list a.media .media-body{display:flex;justify-content:space-between;}
.chat-window .chat-cont-left .chat-users-list a.media .media-body > div:first-child .user-name,.chat-window .chat-cont-left .chat-users-list a.media .media-body > div:first-child .user-last-chat{max-width:250px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.chat-window .chat-cont-left .chat-users-list a.media .media-body > div:first-child .user-name{color:#e5e5e5;text-transform:capitalize;}
.chat-window .chat-cont-left .chat-users-list a.media .media-body > div:first-child .user-last-chat{color:#b9b8b8;font-size:14px;line-height:24px;}
.chat-window .chat-cont-left .chat-users-list a.media .media-body > div:last-child{text-align:right;}
.chat-window .chat-cont-left .chat-users-list a.media .media-body > div:last-child .last-chat-time{color:#8a8a8a;font-size:13px;}
.chat-window .chat-cont-left .chat-users-list a.media:hover{background-color: #b0b0b0;}
.chat-window .chat-cont-left .chat-users-list a.media.read-chat .media-body > div:last-child .last-chat-time{color:#8a8a8a;}
.chat-window .chat-cont-left .chat-users-list a.media.active{background-color:#f5f5f6;}
.chat-window .chat-cont-right{flex:0 0 65%;max-width:65%;}
.chat-window .chat-cont-right .chat-header{align-items:center;background-color:#fff;border-bottom:1px solid #e5e5e5;display:flex;height:72px;justify-content:space-between;padding:0 15px;}
.chat-window .chat-cont-right .chat-header .back-user-list{display:none;margin-right:5px;margin-left:-7px;}
.chat-window .chat-cont-right .chat-header .media{align-items:center;}
.chat-window .chat-cont-right .chat-header .media .media-img-wrap{position:relative;display:flex;align-items:center;margin-right:15px;}
.chat-window .chat-cont-right .chat-header .media .media-img-wrap .avatar{height:50px;width:50px;}
.chat-window .chat-cont-right .chat-header .media .media-body .user-name{color:#333;font-size:16px;font-weight:600;text-transform:capitalize;}
.chat-window .chat-cont-right .chat-header .media .media-body .user-status{color:#666;font-size:14px;}
.chat-window .chat-cont-right .chat-header .chat-options{display:flex;}
.chat-window .chat-cont-right .chat-header .chat-options > a{align-items:center;border-radius:50%;color:#8a8a8a;display:inline-flex;height:30px;justify-content:center;margin-left:10px;width:30px;}
.chat-window .chat-cont-right .chat-body{background-color:#f5f5f6;}
.chat-window .chat-cont-right .chat-body ul.list-unstyled{margin:0 auto;padding:15px;width:100%;}
.chat-window .chat-cont-right .chat-body .media .avatar{height:30px;width:30px;}
.chat-window .chat-cont-right .chat-body .media .media-body{margin-left:20px;}
.chat-window .chat-cont-right .chat-body .media .media-body .msg-box > div{padding:10px 15px;border-radius:.25rem;display:inline-block;position:relative;}
.chat-window .chat-cont-right .chat-body .media .media-body .msg-box > div p{color:#333;margin-bottom:0;}
.chat-window .chat-cont-right .chat-body .media .media-body .msg-box + .msg-box{margin-top:5px;}
.chat-window .chat-cont-right .chat-body .media.received{margin-bottom:20px;}
.chat-window .chat-cont-right .chat-body .media:last-child{margin-bottom:0;}
.chat-window .chat-cont-right .chat-body .media.received .media-body .msg-box > div{background-color:#fff;}
.chat-window .chat-cont-right .chat-body .media.sent{margin-bottom:20px;}
.chat-window .chat-cont-right .chat-body .media.sent .media-body{align-items:flex-end;display:flex;flex-direction:column;justify-content:flex-end;margin-left:0;}
.chat-window .chat-cont-right .chat-body .media.sent .media-body .msg-box > div{background-color:#e3e3e3;}
.chat-window .chat-cont-right .chat-body .media.sent .media-body .msg-box > div p{color:#333;}
.chat-window .chat-cont-right .chat-body .chat-date{font-size:14px;margin:1.875rem 0;overflow:hidden;position:relative;text-align:center;text-transform:capitalize;}
.chat-window .chat-cont-right .chat-body .chat-date:before{background-color:#e0e3e4;content:"";height:1px;margin-right:28px;position:absolute;right:50%;top:50%;width:100%;}
.chat-window .chat-cont-right .chat-body .chat-date:after{background-color:#e0e3e4;content:"";height:1px;left:50%;margin-left:28px;position:absolute;top:50%;width:100%;}
.chat-window .chat-cont-right .chat-footer{background-color:#fff;border-top:1px solid #e0e3e4;padding:10px 15px;position:relative;}
.chat-window .chat-cont-right .chat-footer .input-group{width:100%;}
.chat-window .chat-cont-right .chat-footer .input-group .form-control{background-color:#f5f5f6;border:none;border-radius:50px;}
.chat-window .chat-cont-right .chat-footer .input-group .form-control:focus{background-color:#f5f5f6;border:none;box-shadow:none;}
.chat-window .chat-cont-right .chat-footer .input-group .input-group-prepend .btn,.chat-window .chat-cont-right .chat-footer .input-group .input-group-append .btn{background-color:transparent;border:none;color:#9f9f9f;}
.chat-window .chat-cont-right .chat-footer .input-group .input-group-append .btn.msg-send-btn{background-color:#7638ff;border-color:#7638ff;border-radius:50%;color:#fff;margin-left:10px;}
.msg-typing{width:auto;height:24px;padding-top:8px;}
.msg-typing span{height:8px;width:8px;float:left;margin:0 1px;background-color:#a0a0a0;display:block;border-radius:50%;opacity:.4;}
.msg-typing span:nth-of-type(1){animation:1s blink infinite .33333s;}
.msg-typing span:nth-of-type(2){animation:1s blink infinite .66666s;}
.msg-typing span:nth-of-type(3){animation:1s blink infinite .99999s;}
.chat-window .chat-cont-right .chat-body .media.received .media-body .msg-box{position:relative;}
.chat-window .chat-cont-right .chat-body .media.received .media-body .msg-box:first-child:before{border-bottom:6px solid transparent;border-right:6px solid #fff;border-top:6px solid transparent;content:"";height:0;left:-6px;position:absolute;right:auto;top:8px;width:0;}
.chat-window .chat-cont-right .chat-body .media.sent .media-body .msg-box{padding-left:50px;position:relative;}
.chat-window .chat-cont-right .chat-body .media.sent .media-body .msg-box:first-child:before{border-bottom:6px solid transparent;border-left:6px solid #e3e3e3;border-top:6px solid transparent;content:"";height:0;left:auto;position:absolute;right:-6px;top:8px;width:0;}
.chat-msg-info{align-items:center;display:flex;clear:both;flex-wrap:wrap;list-style:none;padding:0;margin:5px 0 0;}
.chat-msg-info li{font-size:13px;padding-right:16px;position:relative;}
.chat-msg-info li:not(:last-child):after{position:absolute;right:8px;top:50%;content:'';height:4px;width:4px;background:#d2dde9;border-radius:50%;transform:translate(50%, -50%);}
.chat-window .chat-cont-right .chat-body .media.sent .media-body .msg-box .chat-msg-info li:not(:last-child)::after{right:auto;left:8px;transform:translate(-50%, -50%);background:#aaa;}
.chat-window .chat-cont-right .chat-body .media.received .media-body .msg-box > div .chat-time{color:rgba(50, 65, 72, 0.4);}
.chat-window .chat-cont-right .chat-body .media.sent .media-body .msg-box > div .chat-time{color:rgba(50, 65, 72, 0.4);}
.chat-msg-info li a{color:#777;}
.chat-msg-info li a:hover{color:#2c80ff;}
.chat-msg-attachments{padding:4px 0;display:flex;width:100%;margin:0 -1px;}
.chat-msg-attachments > div{margin:0 1px;}
.chat-window .chat-cont-right .chat-body .media.sent .media-body .msg-box > div .chat-msg-info{flex-direction:row-reverse;}
.chat-window .chat-cont-right .chat-body .media.sent .media-body .msg-box > div .chat-msg-attachments{flex-direction:row-reverse;}
.chat-window .chat-cont-right .chat-body .media.sent .media-body .msg-box > div .chat-msg-info li{padding-left:16px;padding-right:0;position:relative;}
.chat-attachment img{max-width:100%;}
.chat-attachment{position:relative;max-width:130px;overflow:hidden;}
.chat-attachment{border-radius:.25rem;}
.chat-attachment:before{position:absolute;top:0;bottom:0;left:0;right:0;background:#000;content:"";opacity:0.4;transition:all .4s;}
.chat-attachment:hover:before{opacity:0.6;}
.chat-attach-caption{position:absolute;left:0;right:0;bottom:0;color:#fff;padding:7px 15px;font-size:13px;opacity:1;transition:all .4s;}
.chat-attach-download{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);opacity:0;transition:all .4s;color:#fff;width:32px;line-height:32px;background:rgba(255, 255, 255, 0.2);text-align:center;}
.chat-attach-download:hover{color:#495463;background:#fff;}
.chat-attachment:hover .chat-attach-caption{opacity:0;}
.chat-attachment:hover .chat-attach-download{opacity:1;}
.chat-window .chat-cont-right .chat-body .media.sent .media-body .msg-box > div:hover .chat-msg-actions{opacity:1;}
.chat-msg-actions{position:absolute;left:-30px;top:50%;transform:translateY(-50%);opacity:0;transition:all .4s;z-index:2;}
.chat-msg-actions > a{padding:0 10px;color:#495463;font-size:24px;}
.chat-msg-actions > a:hover{color:#2c80ff;}
.btn-file{align-items:center;display:inline-flex;font-size:20px;justify-content:center;overflow:hidden;padding:0 0.75rem;position:relative;vertical-align:middle;}
.btn-file input{cursor:pointer;filter:alpha(opacity=0);font-size:23px;height:100%;margin:0;opacity:0;position:absolute;right:0;top:0;width:100%;}
.page-wrapper > .content{padding:1.875rem 1.875rem 0;}
@media (max-width: 991.98px){
    .chat-window .chat-scroll{max-height:calc(100vh - 255px);}
    .chat-window .chat-cont-left,.chat-window .chat-cont-right{flex:0 0 100%;max-width:100%;transition:left 0.3s ease-in-out 0s, right 0.3s ease-in-out 0s;width:100%;}
    .chat-window .chat-cont-left{border-right:0;}
    .chat-window .chat-cont-right{position:absolute;right:calc(-100% + -1.875rem);top:0;}
    .chat-window .chat-cont-right .chat-header{justify-content:start;}
    .chat-window .chat-cont-right .chat-header .back-user-list{display:block;}
    .chat-window .chat-cont-right .chat-header .chat-options{margin-left:auto;}
}
@media (max-width: 575.98px){
    .page-wrapper > .content{padding:0.9375rem 0.9375rem 0;}
    .chat-window{margin-bottom:0.9375rem;}
    .chat-window .chat-cont-right .chat-header .media .media-body{display:none;}
    .chat-window .chat-cont-left .chat-users-list a.media .media-body > div:first-child .user-name,.chat-window .chat-cont-left .chat-users-list a.media .media-body > div:first-child .user-last-chat{max-width:160px;}
}
/*! CSS Used fontfaces */
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:400;font-display:auto;src:url(https://kanakku.dreamguystech.com/template-html/assets/plugins/fontawesome/webfonts/fa-regular-400.eot);src:url(https://kanakku.dreamguystech.com/template-html/assets/plugins/fontawesome/webfonts/fa-regular-400.eot#iefix) format("embedded-opentype"),url(https://kanakku.dreamguystech.com/template-html/assets/plugins/fontawesome/webfonts/fa-regular-400.woff2) format("woff2"),url(https://kanakku.dreamguystech.com/template-html/assets/plugins/fontawesome/webfonts/fa-regular-400.woff) format("woff"),url(https://kanakku.dreamguystech.com/template-html/assets/plugins/fontawesome/webfonts/fa-regular-400.ttf) format("truetype"),url(https://kanakku.dreamguystech.com/template-html/assets/plugins/fontawesome/webfonts/fa-regular-400.svg#fontawesome) format("svg");}
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;font-display:auto;src:url(https://kanakku.dreamguystech.com/template-html/assets/plugins/fontawesome/webfonts/fa-solid-900.eot);src:url(https://kanakku.dreamguystech.com/template-html/assets/plugins/fontawesome/webfonts/fa-solid-900.eot#iefix) format("embedded-opentype"),url(https://kanakku.dreamguystech.com/template-html/assets/plugins/fontawesome/webfonts/fa-solid-900.woff2) format("woff2"),url(https://kanakku.dreamguystech.com/template-html/assets/plugins/fontawesome/webfonts/fa-solid-900.woff) format("woff"),url(https://kanakku.dreamguystech.com/template-html/assets/plugins/fontawesome/webfonts/fa-solid-900.ttf) format("truetype"),url(https://kanakku.dreamguystech.com/template-html/assets/plugins/fontawesome/webfonts/fa-solid-900.svg#fontawesome) format("svg");}
@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:url(https://kanakku.dreamguystech.com/template-html/assets/fonts/MaterialIcons-Regular.eot);src:local('Material Icons'), local('MaterialIcons-Regular'), url(https://kanakku.dreamguystech.com/template-html/assets/fonts/MaterialIcons-Regular.woff2) format('woff2'), url(https://kanakku.dreamguystech.com/template-html/assets/fonts/MaterialIcons-Regular.woff) format('woff'), url(https://kanakku.dreamguystech.com/template-html/assets/fonts/MaterialIcons-Regular.ttf) format('truetype');}